{% include open-html.html %}
{% include navbar.html active='documentation' %}
<div class="container pt-4">
  <div class="row">
    <div class="col-md-4 col-lg-2 px-2 py-1 pt-md-3 px-sm-4 p-md-4">
      <a aria-controls="collapseDocsNav" aria-expanded="false" class="btn btn-outline-secondary w-100 d-md-none collapsed" data-toggle="collapse" href="#collapseDocsNav">Menu</a>
      <aside class="d-md-block collapse overflow-auto pt-4 pt-md-0 sticky-sidebar" style="height: calc(100vh - 100px);" id="collapseDocsNav">
        <small>Getting Started</small>
        <ul>
          <li class="{% if page.title == "Introduction" %}active{% endif %}"><a href="/docs/introduction">Introduction</a></li>
          <li class="{% if page.title == "Email Clients" %}active{% endif %}"><a href="/docs/email-clients">Email Clients</a></li>
          <li class="{% if page.title == "What's New?" %}active{% endif %}"><a href="/docs/whats-new">What's New</a></li>
          <li class="{% if page.title == "Setup" %}active{% endif %}"><a href="/docs/setup">Setup</a></li>
          <li class="{% if page.title == "Customize" %}active{% endif %}"><a href="/docs/customize">Customize</a></li>
          <li class="{% if page.title == "Themeable" %}active{% endif %}"><a href="/docs/themeable">Themeable</a></li>
          <li class="{% if page.title == "Responsive" %}active{% endif %}"><a href="/docs/responsive">Responsive</a></li>
        </ul>
        <small>Content</small>
        <ul>
          <li class="{% if page.title == "Reboot Email" %}active{% endif %}"><a href="/docs/reboot-email">Reboot Email</a></li>
          <li class="{% if page.title == "Body" %}active{% endif %}"><a href="/docs/body">Body</a></li>
          <li class="{% if page.title == "Preview Text" %}active{% endif %}"><a href="/docs/preview-text">Preview Text</a></li>
          <li class="{% if page.title == "Table" %}active{% endif %}"><a href="/docs/table">Table</a></li>
          <li class="{% if page.title == "Images" %}active{% endif %}"><a href="/docs/images">Images</a></li>
        </ul>
        <small>Layout</small>
        <ul>
          <li class="{% if page.title == "Container" %}active{% endif %}"><a href="/docs/container">Container</a></li>
          <li class="{% if page.title == "Grid" %}active{% endif %}"><a href="/docs/grid">Grid</a></li>
          <li class="{% if page.title == "Gutters" %}active{% endif %}"><a href="/docs/gutters">Gutters</a></li>
          <li class="{% if page.title == "Stack" %}active{% endif %}"><a href="/docs/stack">Stack</a></li>
          <li class="{% if page.title == "Align" %}active{% endif %}"><a href="/docs/align">Align</a></li>
          <li class="{% if page.title == "Vertical Align" %}active{% endif %}"><a href="/docs/vertical-align">Vertical Align</a></li>
        </ul>
        <small>Components</small>
        <ul>
          <li class="{% if page.title == "Alert" %}active{% endif %}"><a href="/docs/alert">Alert</a></li>
          <li class="{% if page.title == "Badge" %}active{% endif %}"><a href="/docs/badge">Badge</a></li>
          <li class="{% if page.title == "Button" %}active{% endif %}"><a href="/docs/button">Button</a></li>
          <li class="{% if page.title == "Card" %}active{% endif %}"><a href="/docs/card">Card</a></li>
          <li class="{% if page.title == "Hr" %}active{% endif %}"><a href="/docs/hr">Hr</a></li>
        </ul>
        <small>Text</small>
        <ul>
          <li class="{% if page.title == "Typography" %}active{% endif %}"><a href="/docs/typography">Typography</a></li>
          <li class="{% if page.title == "Font Weight" %}active{% endif %}"><a href="/docs/font-weight">Font Weight</a></li>
          <li class="{% if page.title == "Line Height" %}active{% endif %}"><a href="/docs/line-height">Line Height</a></li>
          <li class="{% if page.title == "Text Color" %}active{% endif %}"><a href="/docs/text-color">Text Color</a></li>
          <li class="{% if page.title == "Text Size" %}active{% endif %}"><a href="/docs/text-size">Text Size</a></li>
        </ul>
        <small>Utilities</small>
        <ul>
          <li class="{% if page.title == "Background Color" %}active{% endif %}"><a href="/docs/background-color">Background Color</a></li>
          <li class="{% if page.title == "Border" %}active{% endif %}"><a href="/docs/border">Border</a></li>
          <li class="{% if page.title == "Border Color" %}active{% endif %}"><a href="/docs/border-color">Border Color</a></li>
          <li class="{% if page.title == "Border Radius" %}active{% endif %}"><a href="/docs/border-radius">Border Radius</a></li>
          <li class="{% if page.title == "Display" %}active{% endif %}"><a href="/docs/display">Display</a></li>
          <li class="{% if page.title == "Sizing" %}active{% endif %}"><a href="/docs/sizing">Sizing</a></li>
          <li class="{% if page.title == "Spacing" %}active{% endif %}"><a href="/docs/spacing">Spacing</a></li>
        </ul>
      </aside>
    </div>
    <div class="col-md-8">
      <div class="card card-docs">
        <div class="card-body">
          {% include doc-header.html %}
          {{ content }}
        </div>
      </div>
    </div>
    <div class="col-lg-2 px-2 py-1 pt-lg-3 px-sm-4 p-lg-4 d-none d-lg-block">
      <div class="sticky-sidebar">
        <h6 class="text-muted">On this page</h6>
        <hr class="my-1">
        <ul class="on-this-page text-muted">
          {% for section in page.sections %}
            <li>
              <a href="#{{ section | downcase | replace: ' ', '-' }}">{{ section }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
{% include footer.html %}
{% include close-html.html %}
